:root {
  --yellow: #ffb800;
  --dark-gray: #7d7f86;
  --dark-gray: #5e616b;
  --white: #fff;
  --light-gray: #cfd2dd;
  --black: #20263c;
  --line-light: #f0f4f6;
  --gray-for-background: #fafafa;
  --gold: #ddc570;
  --map-no-goldao: #f0f4f9;
  --map-yes-goldao: #ffeda9;
  --map-contur: #d1dbe8;
  --map-contur-yes-goldao: #ffcb09;
}
